* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

ul,
ol {

    list-style: none;
}

a {

    text-decoration: none;


}

header {

    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 10%;
    background-image: url(../fondos/celeste.jpg);
}



nav {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.8rem;
    background-image: url(../fondos/cielo.jpg);
    border-top: white solid 10px;
    width: 100%;


}

body {
    background-image: url(../fondos/degradado.jpg);
    background-size: cover;

}

nav img {

    width: 100px;
    height: 50%;
}



header img {

    height: 150%;
    width: 50%;

}

header li {

    padding-bottom: 10px;
}

input {
    width: 200px;
    height: 25px;
}


.listaHeader a {

    color: white;
    border: 0;
    width: 50px;


}



.videoIndex {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;

}

.videoIndex video {

    width: 100%;
    margin-bottom: 5%;

}

.videoIndex span{
padding: 15px;
font-size: 1rem;


}

.articulosIndex {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    gap: 6px;
    margin-left: 3%;
    margin-right: 3%;

}

.articulosIndex img {

    height: 100%;
    width: 100%;
    border: solid 2px green;
    background-image: url(../fondos/blanco.jpg);

}

.articulosIndex a {
    padding-bottom: 15px;
}

.articulosIndex span {

    width: 100%;
    font-size: 2rem;
    margin-left: 25%;

}

.textoIndex {
    text-align: center;
    font-size: 2rem;
    border: solid 2px black;
    border-radius: 10px;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 15%;
    background-color: gold;

}


.articulosVenta {

    border: solid darkslategray 4px;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    width: 300px;
    margin-right: 5%;
    background-color: white;

}

.articulosVenta img {
    width: 100%;


}

.articulosVenta h3 {
    font-size: 1.5rem;

}

.articulosVenta span {
    font-size: 1rem;
    margin-bottom: 15px;

}

.consultaArticulo {
    background-color: darkgoldenrod;
    border: solid 1px black;
    border-radius: 10px;
    padding: 10px;
    color: antiquewhite;
    margin-bottom: 15px;
    font-size: 1.5rem;

}


.pagInternas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 20px 25px 15px 25px;
    justify-items: center;
}

.tituloPaginaInterna {

    background-color: black;
    color: aliceblue;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;
}


.footerGeneral {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../fondos/celeste.jpg);
}

.footerUl {

    display: flex;
    gap: 10px;
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logoFooter a {
    display: flex;
    justify-content: center;
    align-items: center;

}

.logoFooter img {
    height: 35%;
    width: 35%;

}

.footerUl a {
    color: white;
    font-size: 1.5rem;

}

.infoEmpresa {

    display: flex;
    flex-direction: column;
    margin-bottom: 50px;



}

.ordenInfoEmpresa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 25px 0px 25px;
    border: solid black 2px;
    border-radius: 10px;
    padding: 10px;

}

.ordenInfoEmpresa div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ordenInfoEmpresa img {

    width: 100%;
    height: 100%;

}

.imagenInfoEmpresa{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.imagenInfoEmpresa img{
    width: 80%;
    height: 80%;
    padding-top: 15px;
    
        }


.ordenInfoContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 25px 0px 25px;
    border: solid black 2px;
    border-radius: 10px;
    padding: 10px;

}

.ordenInfoContacto img {
    width: 100px;


}

.ordenInfoContacto h3 {

    text-align: center;
    font-size: 1.5rem;
}

.ordenInfoCondiciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 25px 0px 25px;
    border: solid black 2px;
    border-radius: 10px;
    padding: 10px;

}




.ordenContaco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
    background-color: aqua;

}

.ordenContaco div {

    text-align: center;
}


.mapaLocal {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    margin: 15px 15px 15px 15px;
}

.mapaLocal span {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;

}

.mapaLocal iframe {

    width: 100%;
    padding: 10px;

}

.ordenInfoEmpresa img {
    width: 50%;

}

.formContacto ul li {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 1rem;



}

.tituloPaginaInterna h2{
  font-size: 1.5rem;
}



/* Configuracion para pantallas mayores de 768px */



@media (min-width:768px) {

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        width: 100%;
        padding-bottom: 4%;
    }


    header a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
    }

    header img {
        width: 350px;
        height: 350px;
    }

    .logoIndex {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
    }



    .listaHeader {
        display: flex;
        flex-direction: row;
        gap: 45px;
    }


    .articulosIndex {
        margin-top: 20px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto;
        text-align: center;
        border: 5px solid seagreen;
        border-radius: 10px;


    }

    .articulosIndex a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;


    }

    .articulosIndex span {
        font-size: 4rem;
    }

    .articulosIndex img {
        height: 85%;
        width: 85%;

    }

    .footerUl {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .footerUl a {
        font-size: 1.2rem;
    }

    .pagInternas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-items: space-around;

    }

    .articulosVenta {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 15px 15px 15px 15px;
        transform: skewY(2s);

    }

    /* Transformaciones  */

    .consultaArticulo:hover {
        background-color: darkgreen;
        color: antiquewhite;
    }

    .logoIndex img:hover {
        width: 400px;
        height: 400px;

    }

    .listaHeader a:hover {
        color: black;

    }

    .footerUl a:hover {
        color: black;

    }

    .articulosIndex img:hover {
        border: solid 2px black;

    }

    /* Fin Transformaciones */

    .articulosVenta img {
        width: 100%
    }

    .infoEmpresa{

        display: flex;
        justify-content: center;
        align-items: center;
    }


    .ordenInfoCondiciones {
        width: 70%;
    }

    .ordenInfoCondiciones div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .ordenInfoCondiciones h3 {
        font-size: 2rem;
        text-align: center;
        padding-bottom: 20px;

    }

    .ordenInfoCondiciones h4 {
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 20px;

    }

    .ordenInfoCondiciones p {
        font-size: 1rem;


    }



    .ordenInfoContacto img {
        width: 150px;

    }

    .ordenInfoContacto li {

        text-align: center;
        margin: 20px 10px 20px 10px;
        font-size: 1.5rem;
        border: solid 1px black;
        border-radius: 3px;
        padding: 15px;
    }

    .formContacto ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 1rem;
        flex-direction: row;
    }

    .mapaLocal{

        width: 70%;
        align-items: center;
       
    }
    
    .mapaLocal iframe{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .textoAcercaDe{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }

}


/* Configuracion para pantallas mayores de 1200px */

@media (min-width:1200px) {





    .articulosIndex img {
        height: 150px;
        width: 150px;

    }

    .articulosIndex video {

        height: 450px;
        width: 450px;
    }



    .textoIndex span {

        font-size: 2rem;


    }

    .seccionIndex {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .pagInternas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;

    }

   
    .ordenInfoEmpresa {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: 15px 15px 15px 15px;
        width: 70%;
        padding-left: 5%;
        padding-right: 5%;

    }

    .ordenInfoEmpresa div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .ordenInfoEmpresa h3 {
        font-size: 3rem;
           }

    .ordenInfoEmpresa h4 {
        font-size: 2.5rem;
        text-align: center;


    }

    .ordenInfoEmpresa p {
        font-size: 1.2rem;

    }

    .ordenInfoEmpresa img{
padding-bottom: 15px;

    }

  



    .ordenInfoCondiciones {

        display: grid;
        grid-template-columns: 1fr;
        margin: 15px 15px 15px 15px;

    }

    .ordenInfoCondiciones h3 {
        font-size: 3rem;
        text-align: center;
    }

    .ordenInfoCondiciones h4 {
        font-size: 2.5rem;
        text-align: center;


    }

    .ordenInfoCondiciones p {
        font-size: 1.2rem;

    }

    .ordenInfoContacto {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

    }

    .ordenInfoContacto img{

        width: 200px;
    }

    .ordenInfoContacto h3 {
        font-size: 2.5rem;
        text-align: center;

    }

    .ordenInfoContacto p {
        font-size: 1.2rem;

    }

    .formContacto ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 2rem;
        flex-direction: row;

    }






}